<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="C:\Users\User\Desktop\sis\captain_biz\captain_biz\static\css\style.css" > 
   </head>
   <body>
    <div class="row">
      <div class="column">
        <section class="features_section">
         <div class="features_top">
            <h1>CaptainBiz Helps You Manage Business Tension-Free</h1>
         </div>

          <div class="features_container">
             <div class="feature_items">
               <i>
                <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\Bills.svg" width="30px" height="30px">
                  <div class="content-in">Invoicing at your fingertips
              </i>
             </div> 
           </div>

            <div class="feature_items">
             <i>
              <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\mark.svg" width="30px" height="30px">
                 <div class="content-in"> Instantly check inventory on PC or mobile
              </i>
                </div>
              </div>
      
               <div class="feature_items">
                <i>
                 <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\cooperate.svg" width="30px" height="30px">
                   <div class="content-in"> Easy download of GST Reports, ready for filing
              </i>
               </div>
                </div>
              
      

      <div class="feature_items">
      <i>
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\payment.svg" width="30px" height="30px">
     <div class="content-in">
      
      </i>
     </div>
     </div>
     

     <div class="feature_items4">
      <i>
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\testimonial.svg" width="30px" height="30px">
     <div class="content-in">
       Recommended by GSTN (Goods and Services Tax Network) as an easy-to-use business management solution for all MSMEs
       </i>
     </div>
      </div>
   </section>
   


   <div class="column">
   <div class="form1">
      <form action=" " class="form">
         <div class="maintitle"><h3>Try Now, It’s Free!</h3></div>
            <div class="subtitle">Enter the details of the account you want to create</div>
            <br>
            <input type="radio" id="rd_1" name="rd" value="Yes">
               <label for="registeredunderGSTN">Registered under GSTN</label>
            <input type="radio" id="rd_2" name="rd" value="CSS">
               <label for="noGSTregistration">No GST Registration</label><br>
               <br>
            <hr class="campaign-form-seperator"></hr>
            <br>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="gstin_number">GSTIN Number</label>
          </div>
          <br>

          
            <div class="col" id="gstinshow">
          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="satate">State</label>
          </div>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="gst_registration_type">GST Registration Type</label>
          </div>

          
          <br>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="company_name">Company Name</label>
          </div>
          <br>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="first_name">First Name</label>
          </div>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="last_name">Last Name</label>
          </div>
          <br>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="email">Email</label>
          </div>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="mobile_no">Mobile No</label>
          </div>
          <br>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="password">Password</label>
          </div>

          <div class="form__div">
              <input type="text" class="form__input" placeholder=" ">
              <label for="" class="confirm_password">Confirm Password</label>
          </div>
          <br>
          <br>
      </form>
  </div>
   </div>
  </div>
          <br>

<section class="features_digit">
    <div class="features_top">
        <h1>Digitize Your Business - Simplify Daily Operations</h1><br>
        <h6>These power-packed features will help you with:</h6>
    </div>
    <div class="card_container">
<!--        single-container-->
  <div class="card_item">
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\8130975_invoice_bill_billing_payment_validating_icon.svg" width="30px" height="30px"><br>
    <div class="card_info">
        <h5>Quick Billing & Custom Invoices</h5><br>
        <p>Share custom sales or purchase invoices with customers (or suppliers) via WhatsApp or Email.</p>
    </div>
    </div>
        <!--        single-container-->
  <div class="card_item">
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\mark.svg" width="30px" height="30px"><br>
        <div class="card_info">
         <h5>Real-time Inventory Check</h5><br>
         <p>Auto updation of inventory after every sale or purchase. Easy access over PC or mobile to track.</p>
        </div>
    </div>
        <!--        single-container-->
  <div class="card_item">
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\purchase-mgmt-digi.svg" width="30px" height="30px"><br>
    <div class="card_info">
        <h5>Purchase Management</h5><br>
        <p>Effectively manage your procurement requirements per the cash cycle of your business.</p>
    </div>
    </div>
        <!--        single-container-->
  <div class="card_item">
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\custom-suppy-validity.svg" width="30px" height="30px"><br>
    <div class="card_info">
        <h5>Customer & Supplier Visibility In One Place</h5><br>
        <p>Quick overview of all customer and supplier transactions and outstanding payments.</p>
    </div>
    </div>
        <!--        single-container-->
  <div class="card_item">
     <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\8130975_invoice_bill_billing_payment_validating_icon.svg" width="30px" height="30px"><br>
    <div class="card_info">
        <h5>Quick Billing & Custom Invoices</h5><br>
        <p>Share custom sales or purchase invoices with customers (or suppliers) via WhatsApp or Email.</p>
    </div>
    </div>
  
    
         <!--        single-container-->
  <div class="card_item">
   <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\mark.svg" width="30px" height="30px"><br>
  <div class="card_info">
      <h5>Real-time Inventory Check</h5><br>
      <p>Auto updation of inventory after every sale or purchase. Easy access over PC or mobile to track.</p>
  </div>
  </div>
</div>

       </div>
     <div class="swiper-button-next">
                           <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="swiper-button-prev">
                           <i class="fas fa-chevron-right rotate-left"></i>
                        </div>
</section>

<section class="features_digit">
   <div class="features_top">
       <h1>Testimonials</h1>
   </div>
   </section>


   <section class="features_digit">
      <div class="features_top">
          <h1>Why CaptainBiz?</h1>
      </div>
      </section>


<!--  last part-->
<section id="features">
  <div class="container">
<div class="features_container">

   <div class="feature_items2">
      <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\Easysetup.svg" class="img-fluid" width="30px" height="30px">
      <div class="featureItem_info">
        <h4>Easy Setup</h4>
        <p>No IT knowledge required! Our friendly, dedicated Customer Support team will assist with account setup to help you get started. Manage daily business with ease.</p>
      </div>
    </div>

    <div class="feature_items2">
      <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\Accessible.svg" class="img-fluid" width="30px" height="30px">
      <div class="featureItem_info">
        <h4>Accessible Anytime,Anywhere</h4>
        <p>A Cloud-hosted software, you can access and operate your account over PC or mobile to generate and send invoices, track inventory, monitor payables & receivables, manage customers & suppliers and more.</p>
      </div>
    </div>

    <div class="feature_items2">
      <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\secure-camp.svg" class="img-fluid" width="30px" height="30px">
      <div class="featureItem_info">
        <h4>Secure & Reliable</h4>
        <p>A highly secure software solution endorsed by GST Government of India as an affordable and easy-to-use solution for both GST and non-GST companies.</p>
      </div>
    </div>
    </div>
    </div>
    </section>


    <section id="features">
      <div class="container">
    <div class="features_container1">
  <div class="feature_items3">
    <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\location.png" class="img-fluid" width="30px" height="30px">
    <div class="featureItem_info">
      <h4>Address</h4>
      <p>7th Floor, B Wing, BSEL Tech Park, Sector 30A, Navi Mumbai, 400705</p>
    </div>
  </div>

  <div class="feature_items3">
    <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\email.png" class="img-fluid" width="30px" height="30px">
    <div class="featureItem_info">
      <h4>Email</h4>
      <p>support@captainbiz.com</p>
    </div>
  </div>

  <div class="feature_items3">
    <img src="C:\Users\User\Downloads\captain_biz\captain_biz\static\img\call.png" class="img-fluid" width="30px" height="30px">
    <div class="featureItem_info">
      <h4>Phone</h4>
      <p>022 - 61054690</p>
    </div>
  </div>
</div>
  </div>
</section>
</form>

</section>
</body>
</html>
